[mysqld] 
bind-address=0.0.0.0 
default_storage_engine=InnoDB 
binlog_format=row 
innodb_autoinc_lock_mode=2  

# Galera cluster configuration 
wsrep_on=ON 
wsrep_provider=/usr/lib/galera/libgalera_smm.so 
wsrep_cluster_address="gcomm://10.10.0.50,10.10.0.51,10.10.0.52,10.12.0.50,10.12.0.51,10.12.0.52"
wsrep_cluster_name="mariadb-galera-cluster" 
wsrep_sst_method=rsync  

# Cluster node configuration 
wsrep_node_address="{{ ansible_facts.default_ipv4.address }}" 
wsrep_node_name="{{ ansible_hostname }}"